.header
	{
	background-color:#CCCCCC;
	height:126px;
	width:auto;
	border:1px solid #333333;
	
	}
.welcome
	{
	font-family:"Times New Roman", Times, serif;
	font-size:26px;
	font-weight:bold;
	padding-left:30px;
	padding-top:20px
	}
.menu
	{
	float:left;
	font-size:20px;
	margin-top:39px;
	padding-bottom:5px;
	padding-top:5px;
	padding-left:10px;
	border:1px solid #333333;
	padding-right:10px;
	}
.menu a
	{
	text-decoration:none;
	color:#000000;
	
	}
.add_item
	{
		text-decoration:none;
		color:#000;
	}
.add_item a:hover
	{
		text-decoration:underline;
		color:#999;
	}
.titlefloat
	{
		float:left;
		width:150px;
	}
.padding
	{
		padding-bottom:10px;
		width:500px;
		float:left;
	}
.clear
	{
		clear:both;
	}
.page_title
	{
		text-align:center;
		font-size:26px;
		font-weight:bold;
		padding-top:15px;
	}
.categorytitle
	{
		padding-left:500px;
		float:left;
	}
.category
	{
		padding-right:450px;
	}
.error_text
{
	color:red;
	font-size:14px;
	text-align:center;
}
.success_text
{
	color:green;
	font-size:14px;
	text-align:center;
}